<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjm.dao.GoodPictureDao">

    <delete id="delete">
        delete from good_picture
        where url=#{url}
    </delete>

    <delete id="deleteAll">
        delete from good_picture
        where good_id=#{id}
    </delete>

    <insert id="insert">
        insert into good_picture(url,good_id) values(#{url},#{id})
    </insert>

    <insert id="insertList">
        insert into good_picture(url, good_id) values
        <foreach collection="urls" item="item" separator=",">
            <if test="item!=null and item!=''">
                (#{item}, #{id})
            </if>
        </foreach>
    </insert>
</mapper>