<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.hjm.dao.SharingRequestDao">
    <resultMap id="requestResult" type="com.hjm.model.SharingRequest">
        <id column="id" property="id"/>
        <result column="state" property="state"/>
        <result column="request_time" property="requestTime"/>
        <association column="owner_id" property="owner" select="com.hjm.dao.UserDao.getById"/>
        <association column="requester_id" property="requester" select="com.hjm.dao.UserDao.getById"/>
        <association column="good_id" property="good" select="com.hjm.dao.GoodDao.getById"/>
    </resultMap>

    <select id="getOwnerList" resultMap="requestResult">
        select * from good_sharerequest
        where owner_id=#{id} and state='未处理'
    </select>

    <select id="getRequesterList" resultMap="requestResult">
        select * from good_sharerequest
        where requester_id=#{id}
    </select>

    <insert id="insert">
        insert into good_sharerequest(id,good_id,owner_id,requester_id,request_time,state)
        value(#{id},#{good.id},#{owner.id},#{requester.id},CURRENT_TIMESTAMP,'未处理')
    </insert>

    <delete id="delete">
        delete from good_sharerequest
        where id=#{id}
    </delete>

    <update id="update">
        update good_sharerequest
        set state='已处理'
        where id=#{id}
    </update>

</mapper>