<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjm.dao.UserDao">
    <resultMap id="simpleMap" type="com.hjm.model.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="sex" property="sex"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="getById" parameterType="java.lang.String" resultMap="simpleMap">
        select id,name,phone_number,sex,url from user_user
        where id = #{id}
    </select>

    <select id="getOne" parameterType="com.hjm.model.User" resultMap="simpleMap">
        select id,name,phone_number,sex,url from user_user
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="name !=null and id != ''">
            and name = #{name}
        </if>
        <if test="password != null and password !=''">
            and password = #{password}
        </if>
        <if test="phoneNumber !=null and phoneNumber !=''">
            and phone_number =#{phoneNumber}
        </if>
        <if test="sex != null and sex !=''">
            and sex = #{sex}
        </if>
    </select>

    <select id="getList" parameterType="com.hjm.model.User" resultMap="simpleMap">
        select id,name,phone_number,sex,url from user_user
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="name !=null and id != ''">
            and name = #{name}
        </if>
        <if test="password != null and password !=''">
            and password = #{password}
        </if>
        <if test="phoneNumber !=null and phoneNumber !=''">
            and phone_number =#{phoneNumber}
        </if>
        <if test="sex != null and sex !=''">
            and sex = #{sex}
        </if>
    </select>

    <insert id="insert" parameterType="com.hjm.model.User">
        insert into user_user(id, name, password, phone_number, sex, url)
        values(#{id}, #{name}, #{password}, #{phoneNumber}, #{sex}, #{url})
    </insert>

    <update id="update">
        update user_user
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number=#{phoneNumber},
            </if>
            <if test="sex != null and sex != ''">
                sex=#{sex},
            </if>
            <if test="url!=null and url!=''">
                url=#{url},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user_user where id=#{id}
    </delete>

    <delete id="deleteList">
        delete from user_user where id in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item.id}
        </foreach>
    </delete>
</mapper>